<div class="contact-form-area">
        <form action="#" method="post">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="col-12 col-lg-6">
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
                <div class="col-12">
                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div class="col-12 text-center">
                    <button class="btn newspaper-btn mt-30 w-100" type="submit">Send Message</button>
                </div>
            </div>
        </form>
    </div>