<div class="footer-add-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-add">
                    <a href="#"><img src="img/bg-img/footer-add.gif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>