<div class="container">
    <div class="row">

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t1.jpg" alt="">
                <div class="team-info">
                    <h5>James Williams</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t2.jpg" alt="">
                <div class="team-info">
                    <h5>Christinne Smith</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t3.jpg" alt="">
                <div class="team-info">
                    <h5>Alicia Dormund</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t4.jpg" alt="">
                <div class="team-info">
                    <h5>Steve Duncan</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t5.jpg" alt="">
                <div class="team-info">
                    <h5>James Williams</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t6.jpg" alt="">
                <div class="team-info">
                    <h5>Christinne Smith</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t7.jpg" alt="">
                <div class="team-info">
                    <h5>Alicia Dormund</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member">
                <img src="img/bg-img/t8.jpg" alt="">
                <div class="team-info">
                    <h5>Steve Duncan</h5>
                    <h6>Senior Editor</h6>
                </div>
            </div>
        </div>
    </div>
</div>