<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <% if(typeof products != "undefined"){ %>
            <% products.forEach(product => { %>
            <p><%= product.product_title%></p>
            <p><%= product.product_price %></p>
            <p><%= product.product_description %></p>
            <% })%>
            <%} %>
</body>
</html> 